<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>信息发布 - ({$system->name})</title>
    <meta name="Keywords" content="({$system->keys})" >
    <meta name="Description" content="({$system->desc})" >
    <link href="__INDEX__/css/base.css" rel="stylesheet">
    <link href="__INDEX__/css/info_pub.css" rel="stylesheet">
    <script type="text/javascript" src="__INDEX__/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="__INDEX__/js/leftnav.js"></script>
</head>
<body>
{include file="public/top" /}
<div class="navbar" id="navBar" style="position: relative;z-index: 13">
    <div class="container clearfix"> 
        {include file="public/div_nav" /}
        <!--导航-->
        {include file="public/list_nav" /} 
        <!--/导航--> 
    </div>
</div>
<div id="main" class="infoPub">
    <div id="content" style="width:850px;">
        <h2 style="margin-left:10px;margin-bottom:10px;">确定订单信息</h2>
        <table cellspacing="1px" cellpadding="1px" style="border:1px solid #ccc;margin-left:10px;" width="100%" style="margin-left:10px;">
            <thead>
                <tr height="30" style="background-color:#ccc;">
                    <th width="100" style="border:1px solid #fff">编号</th>
                    <th width="300" style="border:1px solid #fff">名称</th>
                    <th width="100" style="border:1px solid #fff">图片</th>
                    <th width="100" style="border:1px solid #fff">品牌型号</th>
                    <th width="100" style="border:1px solid #fff">价格</th>
                </tr>
            </thead>
            <tbody>
                <tr style="border:1px solid #ccc;background-color:#eee;" >
                    <td style="border:1px solid #fff">({$show->asid})</td>
                    <td style="border:1px solid #fff">({$show->title})</td>
                    <td align="center" style="border:1px solid #fff">
                        <img src="__UPLOAD__/({$show->img})" alt="" width="80px" height="80px;"/>
                    </td>
                    <td align="center" style="border:1px solid #fff">({$show->brand})</td>
                    <td align="center" style="border:1px solid #fff"><span style="color:#FF5C26">￥({:number_format($show->price,2)})</span></td>
                </tr>
            </tbody>
        </table>
        <hr style="width:100%;margin-left:10px;margin-top:30px;" />
        <h2 style="margin-left:10px;margin-top:30px;margin-bottom:10px;">收货信息</h2>
        <table style="margin-left:10px;font-size:15px;width:60%" >
            <tr height="40px;">
                <td align="center">收 货 人：</td>
                <td>
                    {eq name="$user->name" value=""}
                    <input type="text" style="height:25px;width:50%" id="names" value="({$user->username})"/>
                    {else/}
                    <input type="text" style="height:25px;width:50%" id="names" value="({$user->name})"/>
                    {/eq}
                </td>
            </tr>
            <tr height="40px;">
                <td align="center">联系电话:</td>
                <td><input type="text" id='tels' style="height:25px;width:50%" value="({$user->tel})"/></td>
            </tr>
            <tr height="40px;">
                <td align="center">地&nbsp;&nbsp;址：</td>
                <td>
                <textarea cols="50" rows="3" id="addresss">({$user->address})</textarea>
                </td>
            </tr>
            <tr height="40px;">
                <td></td>
                <td>
                    <span style="color:red;font-size:12px;"> * 如果不更改,将使用默认信息进行发货</span>>
                </td>
            </tr>
        </table>
        <hr style="width:100%;margin-left:10px;margin-top:30px;" />
        <h2 style="margin-left:10px;margin-top:30px;margin-bottom:10px;">选择付款方式</h2>
        <div style="height:80px;line-height:80px;"></div>
            <table border="0px" width="80%" style="margin-bottom:50px;margin-left:20px;">
                <tr>
                    <td>
                        <form action="({:URL('index/Notify/zhifu')})" method="post" onsubmit="return check();">
                            <input type="hidden" value="({$show->asid})" name="asid"/>
                            <input type="hidden" value="({$show->id})" name="proid"/>
                            <input type="hidden" value="({$user->address})" name="address" id="address"/>
                            <input type="hidden" value="({$show->price})" name="price"/>
                            <input type="hidden" name="mid" value="({$show->uid})">
                            <input type="hidden" value="({$user->tel})" name="tel" id="tel"/>
                            <input type="hidden"  value="({$show->title})" name="title">
                            <input type="hidden" name="uid" value="({$user->id})">
                            <input type="hidden" value="{eq name='user->name' value=''}({$user->username}){else/}({$user->name}){/eq}" name="name"/>
                            <input type="image" src="__INDEX__/ico/zhifubao.fw.png" width="200px" height="50px" style="border:1px solid #ccc;">
                        </form>
                        <script type="text/javascript">
                            $(function(){
                                $("#names").blur(function(){
                                    $("#name").val($(this).val())
                                })
                            })
                            function check(){
                                if($("#tels").val() == ''){
                                    alert('请输入手机号码')
                                    $("#tels").focus()
                                    return false
                                }else if($("#tels").val() != ''){
                                    if(!$("#tels").val().match(/^1[3|4|5|8][0-9]\d{4,8}$/)){
                                        alert('请输入正确的手机号码')
                                        $("#tels").focus()
                                        return false
                                    }
                                    var tel = $("#tels").val()
                                    $("#tel").val(tel)
                                }
                                if($("#addresss").val() == ''){
                                    alert('请输入收货地址');
                                    $("#addresss").focus()
                                    return false
                                }else if($("#addresss").val() != ''){
                                    var tel = $("#addresss").val()
                                    $("#address").val(tel)
                                }

                            }

                        </script>
                    </td>
                    <td><a href=""><img src="__INDEX__/ico/yinlian.fw.png" alt="" width="200px" height="50px" style="border:1px solid #ddd;"/></a></td>
                    <td><a href=""><img src="__INDEX__/ico/weixin.fw.png" alt="" width="200px" height="50px"  style="border:1px solid #ddd;"/></a></td>
                </tr>
            </table>
        <hr style="width:100%;margin-left:10px;margin-top:30px;" />
        <h2 style="margin-left:10px;margin-top:30px;margin-bottom:10px;">声明</h2>
    </div> 
    <div id="sidebar">
        <dl class="contact">
            <dt>QQ在线客服</dt>
            <dd>
                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=({$system->qqs})&amp;site=qq&amp;menu=yes" class="btn_qq"><i></i>({$system->qqs})</a>
            </dd>
            <dt>服务热线</dt>
            <dd><em class="phone">({$system->tel})</em></dd>
            <dt>({$system->short})公众号 </dt>
            <dd class="QR_wx">
                <a href="../about/?317.html"><img src="__UPLOAD__/({$system->img})" alt="掘金汇app客户端"></a>
            </dd>
        </dl>
    </div>
</div>
{include file="public/footer" /}
{include file="public/div" /}
</body>
</html>

<script type="text/javascript" src="__ROUTE__/lib/ueditor/1.4.3/ueditor.config.1.js"></script> 
<script type="text/javascript" src="__ROUTE__/lib/ueditor/1.4.3/ueditor.all.min.js"> </script> 
<script type="text/javascript" src="__ROUTE__/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    var ue = UE.getEditor('editor');
</script>