<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>({$show->title})-({$show->type->content})-({$system->name})</title>
    <meta name="Keywords" content="({$system->desc})" >
    <meta name="Description" content="" >
    <link href="__INDEX__/css/base.css" rel="stylesheet">
    <link href="__INDEX__/css/news.css" rel="stylesheet">
    <link href="__INDEX__/css/sb.css" rel="stylesheet">
    <script type="text/javascript" src="__INDEX__/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="__INDEX__/js/leftnav.js"></script>
</head>
<body>
{include file="public/top" /}
<div class="navbar" id="navBar" style="position: relative;z-index: 13">
    <div class="container clearfix"> 
    {include file="public/div_nav" /}
    <!--导航-->
    {include file="public/list_nav" /}
    <!--/导航--> 
    </div>
</div>
<div id="main" class="clearfix">
    <div id="where_nav">
        <a href="({:URL('index/index/index')})">首页</a><span>&gt;</span>
        <a href="({:URL('index/article/articleList')})">供求信息</a> <span>&gt;</span>
        <a href="({:URL('index/article/articleShow')})?id=({$show->id})">({$show->type->content})</a><span>&gt;</span>
        <strong>({$show->title})</strong>
    </div>
    <div id="content2" class="equipContent">
        <div class="nr">
            <div class="mainTitle">
                <h1>({$show->title})</h1>
                <p class="info"> 
                    <span class="datetime"><em>发布时间：({$show->createtime})</em></span>
                    <span class="view"><em>浏览次数：({$show->nums})</em></span>
                </p>
                <a href="javascript:void(0)" onclick="shoucang(document.title,window.location)" class="btn_fav">收藏信息</a>
                <div id="bdshare"  class="bdsharebuttonbox"> 
                    <span class="bds_more">分享到：</span> 
                    <a href="#" class="bds_more" data-cmd="more"></a>
                    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                    <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a> 
                </div>
            </div>
            <div class="equipInfo clearfix" style="position: relative;">
                {eq name="show->img" value=""}
                {else/}
                    <div style="width:250px;float:left;" >
                        <img src="__UPLOAD__/({$show->img})" width="100%">
                    </div>
                {/eq}
                <div style="width:500px;float:left;margin-left:10px;">
                    <ul class="infoList"  >
                        <li>
                            <label>标&nbsp;&nbsp;题：</label>
                            <span><i>({$show->title})</i></span>
                        </li>

                        <li>
                            <label>所属分类：</label>
                            <span><i>({$show->type->content})</i></span></li>
                        <li>
                            <label>联系电话：</label>
                            <span><i>({$show->tel})</i></span>
                        </li>
                        <li>
                            <label>联 系 人：</label>
                            <span><a>({$show->author})</a></span> 
                        </li>
                            {eq name="show->price" value=""}
                            {else/}
                            <li>
                                <label>价&nbsp;&nbsp;格：</label>
                                <span><a style="color:red">￥({$show->price})</a></span> 
                            </li>
                            {/eq}
                        <li class="infoAction">
                            {eq name="show->price" value=""}
                                <a class="btn_contact" id="btn_contact"><h2>({$show->tel})</h2></a>
                            {else/}
                                <a href="({:url('index/product/productCatid')})?id=({$show->id})" class="btn_contact" id="btn_contact"><h2>购买</h2></a>
                            {/eq}
                            <div class="fr tips tc f13 ca8">
                                <div class="tips-title ncolor">郑重提示</div>
                                <hr class="tips-line pa">请仔细阅读信息，切勿支付任<br>何形式的费用，以免上当受骗
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="fr" style="position: absolute;right:10;top:10;">
                    <div class="erweima">
                        <script type="text/javascript">
                            var _qrContent='',_qrLogo='__UPLOAD__/',_qrWidth=100,_qrHeight=100,_qrType = 'url';if(!_qrContent) var _qrContent =escape(document.location.href);document.write(unescape("%3Cscript src='http://qrcode.leipi.org/js.html?qw="+_qrWidth+"&qh="+_qrHeight+"&qt="+_qrType+"&qc="+escape(_qrContent)+"&ql="+escape(_qrLogo)+"' type='text/javascript'%3E%3C/script%3E"));
                        </script>
                        <p>扫一扫分享该信息到手机端</p>
                        <p>(微信、QQ空间等客户端)</p>
                        <p>({$system->short})助力您提升掌上商机！</p>
                    </div>
                </div>
            </div>
        
        <div style="clear: both"></div>
        <div class="detailMain">
            <div class="detailNav">
                <ul>
                    <li class="current"><a href="javascript:void(0)" class="ico_detail">信息内容</a></li>
                </ul>
            </div>
            <div class="detailContent" style="display:block;">
                <div class="contentInfo">
                    <ul>
                        <li><label>信息编号：</label>({$show->asid})</li>
                        <li><label>信息分类：</label>({$show->type->content})</li>
                        
                    </ul>
                </div>
                <div class="contentMain">
                    <div class="moreContent">
                        <h3 class="title">详细介绍</h3>
                        <div class="content3"> 
                            <p>
                            ({$show->content})
                            </p>
                            <p class="mt30">联系我时请说明是在({$system->short})看到的！</p> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="detailContent">
                <div class="contentInfo contactInfo">
                    <ul>
                        <li class="linkman">
                            <label>联系人：</label>
                            ({$show->author})
                        </li>
                        <li class="phone">
                            <label>电话：</label>
                            ({$show->tel})
                        </li>
                        <li class="email">
                            <label>Email：</label>
                            ({$show->email})
                        </li>
                        <li class="qq">
                            <label>QQ：</label>
                            ({$show->qqs})
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    <div id="sidebar"> 
        {include file="public/list_login" /}
        <div id="new_info" class="boxCommon">
            <div class="titleCommon">
                <h3>最新供求信息</h3>
                <span class="more">
                    <a href="({:URL('index/article/articleList')})" target="_blank">更多</a>&gt;&gt;
                </span>
            </div>
            <div class="content2">
                <ul>
                    {volist name="right1" id="vo"}
                    <li><i>·</i><a href="({:URL('index/article/articleShow')})?id=({$vo.id})">({$vo.title})</a></li>
                    {/volist} 
                </ul>
            </div>
        </div>
        <div id="new_info" class="boxCommon">
            <div class="titleCommon">
                <h3>最新招聘信息</h3>
                <span class="more">
                    <a href="({:URL('index/invite/inviteList')})?type=1" target="_blank">更多</a>&gt;&gt;
                </span>
            </div>
            <div class="content2">
                <ul>
                    {volist name="right2" id="vo"}
                    <li><i>·</i><a href="({:URL('index/invite/inviteShow')})?id=({$vo.id})">({$vo.title})</a></li>
                    {/volist} 
                </ul>
            </div>
        </div>
        <div id="new_info" class="boxCommon">
            <div class="titleCommon">
                <h3>最新求职信息</h3>
                <span class="more">
                    <a href="({:URL('index/invite/inviteList')})?type=0" target="_blank">更多</a>&gt;&gt;
                </span> 
            </div>
            <div class="content2">
                <ul>
                    {volist name="right3" id="vo"}
                    <li><i>·</i><a href="({:URL('index/invite/inviteShow')})?id=({$vo.id})">({$vo.title})</a></li>
                    {/volist} 
                </ul>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
{include file="public/div" /}
<script>
  window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
</body>
</html>
