{include file="public/meta" /}
<title>合作商家</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 合作商家 <span class="c-gray en">&gt;</span> 商家列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
    <form action="({:URL('admin/brand/brandList')})" method="post" id="" name="myform">
    <div class="text-c"> 
   	    <span class="select-box inline">
		    <select name="typeid" class="select">
			    <option value="">全部地区</option>
                {volist name="adda" id="vos"}
			        <option value="({$vos.id})">({$vos.name})</option>      
                {/volist}
		    </select>
	    </span>
        <input type="text" class="input-text" style="width:250px" placeholder="输入商家名称" id="" name="name">
        <input type="text" class="input-text" style="width:250px" placeholder="输入商家电话" id="" name="tel">
        <input type="text" class="input-text" style="width:250px" placeholder="输入商家主营业务" id="" name="yin">
        <button type="submit" class="btn btn-success" id="" name=""><i class="icon-search"></i> 搜用户</button>
    </div>
    </form>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="icon-trash"></i> 批量删除</a>
            <a href="javascript:;" onclick="user_add('添加商家','({:URL('admin/brand/brandAdd')})','950','700')" class="btn btn-primary radius"><i class="icon-plus"></i> 添加商家</a>
        </span>
        <span class="r">共有数据：<strong>({$num})</strong> 条</span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg table-sort">
        <thead>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value=""></th>
                <th width="80">ID</th>
                <th width="200">商家名</th>
                <th width="80">地区</th>
                <th width="100">手机</th>
                <th width="">地址</th>
                <th width="100">LOGO</th>
                <th width="100">主营</th>
                <th width="120">操作</th>
            </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
            <tr class="text-c">
                <td><input type="checkbox" value="1" name=""></td>
                <td>({$vo.id})</td>
                <td>({$vo.name})</td>
                <td>({$vo.addressadda.name})</td>
                <td>({$vo.tel})</td>
                <td class="text-l"> ({$vo.address})</td>
                <td><img src="__UPLOAD__/({$vo.logo})" width="90%"/></td>
                <td>({$vo.yin})</td>
                <td class="f-14 user-manage">
                    <a title="编辑" href="javascript:;" onclick="user_edit('商家查看','({:URL('admin/brand/brandShow')})?id=({$vo.id})','800','500')" class="ml-5" style="text-decoration:none">查看
                        <i class="icon-edit"></i>
                    </a>
                    <a title="通过" href="javascript:;" onclick="brand_shenhe(this,'({$vo.id})')" class="ml-5" style="text-decoration:none">通过
                        <i class="icon-trash"></i>
                    </a>
                    <a title="删除" href="javascript:;" onclick="brand_del(this,'({$vo.id})')" class="ml-5" style="text-decoration:none">删除
                        <i class="icon-trash"></i>
                    </a>
                    
                </td>
            </tr>
        {/volist}
        </tbody>
    </table>
                <!-- 分页-->
                <div style="width:100%;text-align:center;">
                     ({$list->render()}) 
                </div>
                <style type="text/css">
                    .pagination{
                        width:100%;
                        text-align: right;
                        margin-top:10px;
                    }
                    .pagination li{
                        float: left;
                        width:25px;
                        height:25px;
                        line-height: 25px;
                        text-align: center;
                        font-size: 14px;
                        border: 1px solid #00A3D9;
                        margin-left: 5px;
                        color:#666;
                    }
                </style>
                <!-- /分页 -->
</div>
<!--_footer 作为公共模版分离出去-->
{include file="public/footer" /}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ROUTE__/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__ROUTE__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__ROUTE__/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript" src="__ROUTE__/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__ROUTE__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript">
function user_add(title,url,w,h){
	layer_show(title,url,w,h);
}
function user_edit(title,url,w,h){
	layer_show(title,url,w,h);
}
function brand_del(obj,id){
	layer.confirm('确定要审核通过吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '({:URL("admin/brand/brandDel")})',
			cache:false,
			data:"id="+id,
			success: function(data){
				var parseJson = eval("("+data+")");
                if(parseJson.status == 1){
                    $(obj).parents("tr").remove();
                    layer.msg(parseJson.msg,{icon:1,time:1000});
                }else{
                    layer.msg(parseJson.msg,{icon:2,time:1000});
                }
			},
			error:function(data) {
			    layer.msg('连接服务器失败',{icon:2,time:1000});
			},
		});		
	});
}
function brand_shenhe(obj,id){
    layer.confirm('确定要审核通过吗？',function(index){
        $.ajax({
            type: 'POST',
            url: '({:URL("admin/brand/brandApplyOk")})',
            cache:false,
            data:"id="+id,
            success: function(data){
                var parseJson = jQuery.parseJSON(data);
                if(parseJson.status == 1){
                    $(obj).parents("tr").remove();
                    layer.msg(parseJson.msg,{icon:1,time:1000});
                }else{
                    layer.msg(parseJson.msg,{icon:2,time:1000});
                }
            },
            error:function(data) {
                layer.msg('连接服务器失败',{icon:2,time:1000});
            },
        });     
    });
}
window.onload = (function(){
    // optional set
    pageNav.pre="&lt;上一页";
    pageNav.next="下一页&gt;";
    // p,当前页码,pn,总页面
    pageNav.fn = function(p,pn){$("#pageinfo").text("当前页:"+p+" 总页: "+pn);};
    //重写分页状态,跳到第三页,总页33页
    pageNav.go(1,13);
});
$('.table-sort').dataTable({
	"lengthMenu":false,//显示数量选择 
	"bFilter": false,//过滤功能
	"bPaginate": false,//翻页信息
	"bInfo": false,//数量信息
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
	]
});
</script>
</body>
</html>
