<div class="yb_conct">
    <div class="yb_bar">
        <ul>
            <li class="yb_top">返回顶部</li>
            <li class="yb_phone">({$system->tel})</li>
            <li class="yb_QQ"> 
                <a target="_blank" href="tencent://Message/?Uin=({$system->qqs})&websiteName=({$system->name})=&Menu=yes">在线咨询</a> 
            </li>
            <li class="yb_ercode" style="height:53px;">微信二维码 <br>
                <img class="hd_qr" src="__UPLOAD__/({$system->img})" width="125">
            </li>
        </ul>
    </div>
</div>