<nav class="fl nav" style="background-color:#3299cc;">
    <ul>
        <li><a href="({:URL('index/index/index')})"><b>首页</b></a></li>
        <li><a href="({:URL('index/article/articleList')})"><b>供求信息</b></a><span class="pr"><i class="pa icon_hot index_sprite"></i></span></li>
        <li><a href="({:URL('index/engineer/engineerList')})"><b>工程项目</b></a><span class="pr"><i class="pa icon_new index_sprite"></i></span></li>
        <li><a href="({:URL('index/news/newsList')})"><b>新闻资讯</b></a></li>
        <li><a href="({:URL('index/brand/brandList')})"><b>合作商家</b></a></li>
        <li><a href="({:URL('index/invite/inviteList')})"><b>工程人员</b></a></li>
        <li><a href="({:URL('index/product/productList')})"><b>设备材料</b></a></li>  
    </ul>
</nav>