<div style="position:fixed;height:50px;width:100%;background-color:#eee;z-index:99;bottom:0;line-height:50px;" class="container">
    <ul class="row">
        <li class="col-xs-3" style="text-align:center;"><a href="({:url('wap/index/index')})" style="color:#555">首页</a></li>
        <li class="col-xs-3" style="text-align:center;"><a href="({:url('wap/article/lists')})" style="color:#555">资讯需求</a></li>
        <li class="col-xs-3" style="text-align:center;"><a href="({:url('wap/Product/lists')})" style="color:#555">产品需求</a></li>
        <li class="col-xs-3" style="text-align:center;"><a href="({:url('wap/user/show')})" style="color:#555">个人中心</a></li>
    </ul>
</div>