<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>信息发布 - ({$system->name})</title>
    <meta name="Keywords" content="({$system->keys})" >
    <meta name="Description" content="({$system->desc})" >
    <link href="__INDEX__/css/base.css" rel="stylesheet">
    <link href="__INDEX__/css/info_pub.css" rel="stylesheet">
    <script type="text/javascript" src="__INDEX__/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="__INDEX__/js/leftnav.js"></script>
</head>

<body>
{include file="public/top" /}
<div class="navbar" id="navBar" style="position: relative;z-index: 13">
    <div class="container clearfix"> 
        {include file="public/div_nav" /}
        <!--导航-->
        {include file="public/list_nav" /} 
        <!--/导航--> 
    </div>
</div>
<div id="main" class="infoPub">
    <div id="content" style="width:850px;">
        <div class="nr_text" style="background:url(__INDEX__/images/userbg.jpg) no-repeat right bottom" style="width:100%">
            <div style="width:100%">
                <ul style="font-size:17px;margin-left:10px;width:100%">
                    <li style='margin-left:20px;float: left;border: 1px solid #ccc;height:30px;line-height: 30px;width:180px;text-align: center;background-color:#eee;'><a href="({:URL('index/user/make1')})">发布供应需求信息</a></li>
                    <li style='margin-left:20px;float: left;border: 1px solid #ccc;height:30px;line-height: 30px;width:180px;text-align: center;background-color:#eee;'><a href="({:URL('index/user/make2')})">发布招聘求职信息</a></li>
                    <li style='margin-left:20px;float: left;border: 1px solid #ccc;height:30px;line-height: 30px;width:180px;text-align: center;background-color:#eee;'><a href="({:URL('index/user/make3')})">发布工程项目信息</a></li>
                    <li style='margin-left:20px;float: left;border: 1px solid #ccc;height:30px;line-height: 30px;width:180px;text-align: center;background-color:#3299cc;color:#fff;'>申请合作商家</li>
                </ul>
            </div>
            <div style="clear:both;"></div>
            <hr style="width:100%;margin-left:10px;background-color:#ccc" />
            <form method="post" action="({:URL('index/user/makeOk')})?choose=4" enctype="multipart/form-data" >
                <table border="0" cellpadding="2" cellspacing="0" align="center" width="100%" style="margin-top:0px;">
                    <tr>
                        <td height="45" colspan="4" align="center">
                            <span style="color:#F00; padding-left:40px; font-size:18px; font-weight:bold; font-family:'微软雅黑'">
                                申请合作商家
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%" height="45" align="center">商家名：</td>
                        <td width="60%" height="45">
                            <input type="text" value="" name="name" style="height:30px;width:100%"/>
                        </td>
                        <td width="20%" rowspan="8" align="center">
                            
                        </td>
                    </tr>
                    <tr>
                        <td height="45" align="center">营业执照代码：</td>
                        <td height="45">
                            <input type="text" name="catid"  style="height:30px;width:50%" size=30 maxlength="50" value=""/>
                        </td>
                    </tr>
                    <tr>
                        <td height="45" align="center">官方网址：</td>
                        <td height="45">
                            <input type="text" name="href"  style="height:30px;width:50%" size=30 maxlength="50" value=""/>
                        </td>
                    </tr>
                    <tr>
                    <td height="45" align="center">主营业务：</td>
                        <td height="45">
                            <input name="yin" type="text" style="height:30px;width:50%" placeholder="@"/>
                        </td>
                    </tr>
                    <tr>
                        <td height="45" align="center">LOGO：</td>
                        <td height="45">
                            <input name="logo" type="file" style="height:30px;width:50%" placeholder="@"/>
                        </td>
                    </tr>
                    <tr>
                    <td height="45" align="center">联系电话：</td>
                        <td height="45">
                            <input name="tel" type="text" style="height:30px;width:50%" placeholder=""/>
                        </td>
                    </tr>
                    <tr>
                        <td height="45" align="center">客服QQ：</td>
                        <td height="45">
                            <input type="text" name="qqs"  style="height:30px;width:50%" size=30 maxlength="50" value=""/>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td height="45" align="center">公司地址：</td>
                        <td height="45">
                            <textarea name="address" id="" cols="70" rows="5"></textarea>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr style="margin-top:5px;">
                        <td height="45" align="center">公司简介：</td>
                        <td height="45">
                            <textarea name="desc" id="" cols="70" rows="5" style="margin-top:5px;"></textarea>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td height="45" align="center">地&nbsp;&nbsp;区：</td>
                        <td height="45">
                            <select name="adda" style="height:30px;width:50%">
                                <option value="">-- 请选择地区 --</option>
                                {volist name="adda" id="vo"}
                                    <option value="({$vo.id})">({$vo.name})</option>
                                {/volist}
                            </select>
                        </td>
                    </tr>
                    <tr width="100%">
                        <td height="45" align="center"></td>
                        <td height="45">
                            <input type="submit" name="Submit" class="normal-button"  style="padding:8px 20px; background:#F93; border:none; color:#fff; font-size:16px; border-radius:5px"  value="申请" />&nbsp;
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div> 
    <div id="sidebar">
        <dl class="contact">
            <dt>QQ在线客服</dt>
            <dd>
                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=({$system->qqs})&amp;site=qq&amp;menu=yes" class="btn_qq"><i></i>({$system->qqs})</a>
            </dd>
            <dt>服务热线</dt>
            <dd><em class="phone">({$system->tel})</em></dd>
            <dt>({$system->short})公众号 </dt>
            <dd class="QR_wx">
                <a href="../about/?317.html"><img src="__UPLOAD__/({$system->img})" alt="掘金汇app客户端"></a>
            </dd>
        </dl>
    </div>
</div>
{include file="public/footer" /}
{include file="public/div" /}
</body>
</html>
<script type="text/javascript" src="__ROUTE__/lib/ueditor/1.4.3/ueditor.config.1.js"></script> 
<script type="text/javascript" src="__ROUTE__/lib/ueditor/1.4.3/ueditor.all.min.js"> </script> 
<script type="text/javascript" src="__ROUTE__/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    var ue = UE.getEditor('editor');
</script>